.title
{
  color: rgb(255, 255, 255);
  position: relative;
  width: 30%;
  height: 10%;
}

.U-lang
{
  color: rgb(255, 255, 255);
  position: relative;
  width: 30%;
  height: 10%;
    
}

.L-lang
{
  color: rgb(255, 255, 255);
  position: relative;
  width: 30%;
  height: 10%;
  top: 10px;
}

.search-sec
{
  position: relative;
  width: 100%; /* Full-width */
  height: 30%;
  top: 25px;   
}

#myInput {
  position: relative;
  width: 100%; /* Full-width */
  height: 30%;
  color: rgb(255, 255, 255);
  background-color: rgb(65, 65, 65);
  font-size: 16px; /* Increase font-size */
  border: 1px solid rgb(173, 173, 173); /* Add a grey border */
  }
  
#myUL {
  /* Remove default list styling */
  list-style-type: none;
  width: 100.45%;
  padding: 0px; /* Add some padding */
  margin: 0px;
}

#myUL li a {
  width: 100%; 
  border: 1px solid rgb(173, 173, 173); /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: rgb(65, 65, 65); /* Grey background color */
  padding: 2px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: rgb(255, 255, 255); 
  display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a:hover:not(.header) {
  background-color: rgb(48, 48, 48); /* Add a hover effect to all links, except for headers */
}

.collapsible {
  width: 100%;
  padding: 10px;
  background-color: #777;
  color: white;
  cursor: pointer;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}