.title
{
    position: absolute;
    left: 460px;
}

.U-lang
{
    position: absolute;
    left: 360px;
    top: 75px;
}

.L-lang
{
    position: absolute;
    left: 720px;
    top: 75px;
}

.search-bar
{
    position: absolute;
    left: 460px;
    top: 150px;
}


.search-bar input
{
    height: 12px;
    width: 400px;
}